## IntelliJ IDEA / Java

.idea/
doc/
dump/
libs/*/src/
META-INF/
out/
www/

*.iml
*-doc.jar
*-javadoc.jar
*-sources.jar
.config
thumbs.db

## Visual Studio / C++

*.suo
*.user
*.ncb
*.*sdf
Debug/
Release/
CodeAnalyst/